@import 'plugins/fontawesome/font-awesome';


body {
	h1, p{
		text-align: center;
	}

}
#titulo {
	background-image: url("../img/parallax-1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center; 
	width: 100%;
	height: 100%;
	.logo-box {
		margin: 0 auto;
		padding-top: 120px;
	}

}
#espacio {
	background-color: #1ECD0C;
	width: 100%;
	height: 50px;
}
#espacio-beige {
	background-color: #F5E158;
	width: 100%;
	height: 50px;
}
#espacio-red {
	background-color: #F87979;
	width: 100%;
	height: 50px;
}

#nuestra-pasion {
	background-image: url("../img/parallax-3.jpg");
	
}
#preguntas-sobre-el-te {
	background-image: url("../img/parallax-2.jpg");
	
}
#preguntas-sobre-el-te, #nuestra-pasion {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center; 
	width: 100%;
	height: 100%;
	h1, h5 {
		color: white;
		text-align: justify;
		margin-right: 40px;
		margin-left: 40px;

	}
	h1 {
		padding-top:80px;
	}
	img {
		padding-top:50px;
	}

}

#tipos-de-te {
	padding-top: 50px;
	padding-bottom: 50px;
	h1{
		color: #F87979;
	}
}
.texto-nuestra-pasion {
	text-align: center;

	h5 {
		margin-left: 40px;
		margin-right: 40px;
	}
}


#cuanto-te-echar, #cuantos-recomendados {
	padding-top: 50px;
	padding-bottom: 50px;
	h1 {
		padding-bottom:50px;
	}
	h5 {
		padding-bottom: 100px;
	}
	h1, h5, ul {
		text-align: center;
	}
	
}
#debo-hervir-agua {
	padding-top: 50px;
	padding-bottom: 100px;
	h1, h5, ul {
		text-align: center;
	}
}
#cuanto-te-echar, #cuantos-recomendados, #debo-hervir-agua {
	margin-left: 40px;
	margin-right: 40px;
}



#amamos-el-te {
	h3, p, {
		color: #000;
		text-align: justify;
		margin-right: 40px;
		margin-left: 40px;

	}
	h3 {
		padding-top:80px;
	}
	ul {
		margin-right: 60px;
		margin-left: 60px;
	}
	
	
}

#footer {
	background-color: #464343;
	color: #6E6C6C;
	height: 60px;

}

/*estilo desktop*/

@media screen and (min-width: 768px) {
	.logo-box {
		padding-top: 0px;
	}
	#titulo, #preguntas-sobre-el-te {
		height: 768px;
	}
	#tipos-de-te h5 {
		margin-left: 15px;
		margin-right: 15px;
	}
	#cinco-fotos {
		img {
			width: 100%;
			height: auto;
		}
	}
	#preguntas-sobre-el-te {
		h1 {
			padding-top: 20%;
		}
	}
	.campos  {
		background-image: url("../img/parallax-4.jpg"); 
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center; 
		width: 100%;
		height: 100%;
		h1 {
			color: white;
			padding-top: 300px;
			padding-bottom: 300px;
		}
	}
	#carrousel {
		i {
			color: white;
		}
	}
}

